<h1><%= "タスク"+@task.id.to_s %>の詳細ページ</h1>


<p><%= @task.status %></p>
<p><%= @task.content %></p>

<%= link_to 'タスクの編集', edit_task_path %>

<br>

<%= link_to 'タスクの削除', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>

<br>

<%= link_to 'タスク一覧に戻る', tasks_path %>