<h1><%= "タスク"+@task.id.to_s %>の詳細ページ</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td><%= @task.id %></td>
    </tr>
    <tr>
        <th>タスク</th>
        <td><%= @task.content %></td>
    </tr>
    <tr>
        <th>状態</th>
        <td><%= @task.status %></td>
    </tr>
</table>

<%= link_to 'タスクの編集', edit_task_path, class: 'btn btn-default' %>

<br>

<%= link_to 'タスクの削除', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
